.basic {
    text-align: center;
  }
  
  .container.content h1 {
    font-weight: bold;
    font-size: 30px;
  }
  
  .um-button {
    background-color: blue;
    color: white;
  }
  
  .um-field-block strong {
    font-weight: bold;
    font-weight: 200;
  }

  .um-form-field {
    font-size: 16px; /* Adjust the font size as needed */
  }
  
  